#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-color: #212121;
  color: whitesmoke;
  
}

.Card{
  background-color: rgb(63, 63, 63);
  margin: 1rem;
  color: whitesmoke;
  padding: 1.25rem;
  border-radius: .5rem;
  border: 4px solid rgb(196, 196, 196)
}

button{
  padding: 0.2rem;
  font-size: 1.2rem;
  color: slategray;
  font-weight: bold;
  border-radius: 0.5rem;
  padding: 0.3rem;
}

.links a{
  color: aliceblue;
  margin: auto 1rem ;
}

